rfidflow.json
[{"id":"9d7835c5.46986","type":"daemon","z":"9df3b382.bba0b8","command":"python","args":"-u /home/pi/Project/rfidreader.py","cr":true,"redo":true,"op":"string","name":"RFIDReader","x":122.19999694824219,"y":131.1999969482422,"wires":[["86c452ae.f6a8f"],[],[]]},{"id":"86c452ae.f6a8f","type":"function","z":"9df3b382.bba0b8","name":"JSON to Object","func":"msg.payload = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":345.20001220703125,"y":118.70001220703125,"wires":[["a3a2d2d.8aff0b"]]},{"id":"a3a2d2d.8aff0b","type":"debug","z":"9df3b382.bba0b8","name":"","active":true,"console":"false","complete":"false","x":562.2000122070312,"y":190.90000915527344,"wires":[]}]